@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

.about_business-box {
  display: flex;
  justify-content: flex-start;
  gap: vw(50);
}
.about_business-inner {
  width: 30%;
}
.page__about-strengths {
  width: 100%;
}
.about_strengths-box {
  display: flex;
  justify-content: space-between;
}
.about_strengths-inner {
  width: 30%;
}
