@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

/* ヘッダーを固定し、メインビジュアルの上に表示 */
header {
  position: fixed; /* 固定配置 */
  top: 0; /* ページ上部に固定 */
  left: 0;
  width: 100%; /* 横幅いっぱいに広げる */
  height: vh(80); /* ヘッダーの高さ（適宜調整） */
  backdrop-filter: blur(8px);
  color: $color-base-black;
  display: flex;
  align-items: center; /* 縦中央揃え */
  justify-content: space-between; /* ロゴとナビを左右に配置 */
  padding: 0 vw(20);

  z-index: 1000; /* メインビジュアルより前面に */
}

/* メインビジュアルの上にヘッダーを配置するための調整 */
#main-visual {
  // margin-top: 80px; /* ヘッダーの高さ分だけ下げる */
}

/* ナビゲーションのデザイン調整 */
.nav__container {
  display: flex;
}

.nav__list {
  display: flex;
  gap: vw(40);
  list-style: none;
}

.nav__list__item {
  // margin-left: 20px; /* ナビの間隔を確保 */
}

.nav__list__item-link {
  text-decoration: none;
  font-size: vw(20);
  font-weight: 400;
  padding: vw(10);
  transition: color 0.3s;
}

.nav__list__item-link:hover {
  color: $color-base-lower-white; /* ホバー時にカラー変更 */
}
// -------
// swiper
// -------
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  // --color-theme: #f5695f;
  // --color-theme-darken: #f12617;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08),
    -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1),
    -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

html {
  // font-family: "Spartan", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
  //   "メイリオ", Meiryo, sans-serif;
  // font-size: 62.5%;
  // line-height: 1.8;
  // height: 100%;
  word-break: break-word;
  // color: #333;
  background-color: var(--color-base);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

// body {
//   font-size: 1.6rem;
//   margin: 0;
// }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: var(--color-theme);
}

::selection {
  color: #fff;
  background: var(--color-theme);
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

// p {
//   margin: 0;
//   padding: 0;
// }

// a {
//   text-decoration: none;
//   color: #333;
// }

// ul,
// ol {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: 1.6rem;
//   margin: 0;
//   padding: 0;
// }

main {
  display: block;
}

.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}

.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

[class*="swiper"]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.mv02 {
  margin-bottom: 16rem;
}
.mv02 .l-inner {
  padding-bottom: 0;
}
.mv02 .swiper-pagination {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}
.mv02 .swiper-pagination-bullet {
  display: block;
  width: 1.6rem;
  height: 2px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: #fff;
}
.mv02 .swiper-pagination-bullet:not(:first-child) {
  margin-top: 1.6rem;
}
.mv02 .swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--color-theme);
}
.mv02 .swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}
.mv02 .swiper-fade .swiper-slide-active {
  pointer-events: auto;
}
.mv02 .slide {
  display: grid;
  place-content: center;
  height: 800px;
  padding: 0 8rem;
  text-align: center;
}
.mv02 .slide-media {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mv02 .slide-media img {
  -webkit-transition: 7s 1s linear;
  transition: 7s 1s linear;
  -webkit-transform: translateX(-1.5%) scale(1.1);
  transform: translateX(-1.5%) scale(1.1);
}

.mv02 .slide-title,
.mv02 .slide-text,
.mv02 .slide-link {
  -webkit-animation: 2s var(--easing) both;
  animation: 2s var(--easing) both;
  opacity: 0;
}

.mv02 .slide-title {
  color: $color-base-black;
  font-family: "Source Serif 4", serif;
  font-size: vw(64);
  font-weight: 300;
  backdrop-filter: blur(3px);
}
.mv02 .slide-text {
  font-size: 1.8rem;
  margin: 4rem 0;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  color: $color-base-black;
  backdrop-filter: blur(3px);
}
.mv02 .slide-link {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.mv02 .slide-button {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  color: var(--color-theme);
}
.mv02 .slide-button::before {
  display: inline-block;
  width: 6rem;
  height: 1px;
  margin: -2px 1.6rem 0 0;
  content: "";
  vertical-align: middle;
  background-color: currentColor;
}
.mv02 .swiper-slide[class*="-active"] .slide-media img {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(1.5%) scale(1.05);
  transform: translateX(1.5%) scale(1.05);
}
.mv02 .swiper-slide.anm-started .slide-title,
.mv02 .swiper-slide.anm-started .slide-text,
.mv02 .swiper-slide.anm-started .slide-link {
  -webkit-animation-name: mv02-fadeIn;
  animation-name: mv02-fadeIn;
}
.mv02 .swiper-slide.anm-finished .slide-title,
.mv02 .swiper-slide.anm-finished .slide-text,
.mv02 .swiper-slide.anm-finished .slide-link {
  -webkit-animation-name: mv02-fadeOut;
  animation-name: mv02-fadeOut;
}

@-webkit-keyframes mv02-fadeIn {
  0% {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mv02-fadeIn {
  0% {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes mv02-fadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    opacity: 0;
  }
}
@keyframes mv02-fadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
  .mv02 {
    margin-bottom: 8rem;
  }
  .mv02 .slide {
    height: max(70vh, 70vw);
  }
  .mv02 .slide-title {
    font-size: 4rem;
  }
  .mv02 .slide-text {
    font-size: 1.6rem;
    margin: 3.2rem 0;
  }
}
@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before,
  .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
// --------
// about
// --------
.about__container {
}
.about__box-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: vw(100);
}
.about__inner-left {
  width: vw(780);
  height: vh(608);
  background-image: url("../image/about_knit.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* 画像を要素内に収める */
  /* 文字を中央揃え */
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  justify-content: center; /* 縦方向の中央揃え */
  align-items: center; /* 横方向の中央揃え */
  padding: 20px; /* 余白（必要に応じて調整） */
}
.about-text {
  width: vw(426);
  height: vh(234);
  text-align: left;
  margin-top: vh(20);
}
.about__inner--right {
  width: 50%;
}
.about__box-end {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: vh(80);
}
.about__box-end img {
  width: 30%;
}
.about__box-end > .linking-img {
  width: 10%;
}
// ------
// product
// ------
#product {
  padding-top: vh(180);
}
// swiperここから
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #f5695f;
  --color-theme-darken: #f12617;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08),
    -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05),
    inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1),
    -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

html {
  height: 100%;
  word-break: break-word;
  color: #333;
  background-color: var(--color-base);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: var(--color-theme);
}

::selection {
  color: #fff;
  background: var(--color-theme);
}

main {
  display: block;
}

.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}

.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

[class*="swiper"]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}
.slide-title {
  color: $color-base-white;
}
.gallery03 {
  // margin-bottom: 16rem;
}
.gallery03 .l-inner {
  padding-bottom: 0;
}
.gallery03 .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.gallery03 .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.gallery03 .slide {
  width: var(--slide-width);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  --slide-width: 200px;
}
.gallery03 .slide-media {
  height: var(--slide-width);
}
.gallery03 .slide-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3.2rem 1.6rem 1.6rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(50%, rgba(0, 0, 0, 0.3))
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 50%
  );
}
.gallery03 .slide-title {
  font-size: 1.4rem;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.gallery03 .slide:hover {
  width: calc(var(--slide-width) * 1.5);
}
.gallery03 .slide:hover .slide-content {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
  .gallery03 {
    margin-bottom: 8rem;
  }
  .gallery03 .slide {
    --slide-width: 120px;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before,
  .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
// swiperここまで

// -------
// exhibition
// -------
.exhibition__container {
  display: flex;
  gap: vw(20);
}
.exhibition__container img {
  width: 30%;
}
/* ----------------------
COMPANY
---------------------- */
.company-container {
  display: flex;
  justify-content: space-between;
}
.company__profile {
  width: 50%;
}
.company__map {
  width: 50%;
}
/* ----------------------
contact
---------------------- */
#contact {
  margin: vh(100) auto;
  text-align: center;
}
.contact-btn {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size: vw(18);
}

.contact-btn:hover {
  color: #fff;
  background: #000;
}
.index-h2-contact {
  font-size: 36px;
  margin-top: 150px;
  /* 左右いっぱいに伸びた横線 */
  align-items: center; /* 横線を上下中央 */
  display: flex; /* 文字と横線を横並び */
}
.index-h2-contact::before,
.index-h2-contact::after {
  background-color: #1c1c1d; /* 横線の色 */
  border-radius: 1px; /* 横線の両端を丸く */
  content: "";
  flex-grow: 1; /* 横幅いっぱい */
  height: 1px; /* 横線の高さ */
}
.index-h2-contact::before {
  margin-right: 15px; /* 文字との余白 */
}
.index-h2-contact::after {
  margin-left: 15px; /* 文字との余白 */
}
.index-h3-contact {
  text-align: center;
}
// -------
// footer
// -------
footer {
  width: 100%;
  height: vh(225);
  background-image: url("../image/footer_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* 画像を要素内に収める */
  text-align: center;
}
#footer__logo {
  padding-top: vh(80);
}
.footer__logo-img {
  width: 10%;
}
.copyright {
  margin-top: vh(70);
}
