@charset "utf-8";
@use "../common/variables" as *;
@use "../common/functions" as *;
@use "../common/mixins" as *;
@use "../common/global" as *;

/*--------------------------------
 お問い合わせ　下層
---------------------------------*/

/* 外枠 */
#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
/* 左列の見出し */
.contact-heading {
  width: 240px;
  align-self: center;
}
/* 見出しのラベル */
.contact-label {
  font-weight: bold;
}
/* テキストボックス */
.contact-textbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fff;
  width: 400px;
  height: 70px;
}

/* お問い合わせ内容のテキストエリア */
.contact-textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fff;
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
}
input:focus,
textarea:focus {
  background-color: #fafafa;
  outline: none;
}
/* 個人情報の取り扱い */
details {
  width: 700px;
}
details > div {
  background-color: #fafafa;
  padding: 20px;
}
details > div > span {
  font-weight: bold;
}
.contact-btn_send {
  width: 100px;
  height: 50px;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  background: #fff;
  font-size: 18px;
}

.contact-btn_send:hover {
  color: #fff;
  background: #000;
}
